/* ---Setup--- */

html {
    font-size: 100%;
    box-sizing: border-box;
    /* height: 100%; */
    font-family: 'Sen', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(110deg, #000000 40%, #181824 40%);
    /* height: 100%; */
}

/* ---Animations--- */

@supports (animation: fadein 1s) {
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }
  
  @supports (animation: slide-in-right 1s) {
    @keyframes slide-in-right {
      from { transform: translateX(-100%);}
      to { transform: translateX(0%);}
    }
  }
  
  @supports (animation: slide-in-left 1s) {
    @keyframes slide-in-left {
      from { transform: translateX(100%);}
      to { transform: translateX(0%);}
    }
  }

/* ---Double header--- */

#double-header {
    background: linear-gradient(to right, #5220e4, #8b21e5);
    height: 3.2rem;
    cursor: pointer 
}

#double-header > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent

}

#double-header-content {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;

}

/* ---Main header--- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
}

#logo {
    color: white;
    font-family: 'Roboto Mono', monospace;
    /* text-decoration: underline; */
    padding-left: 1rem;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

/* ---Navigation--- */

#nav-list {
    width: 40%;
    height: 100%;
    margin-right: 4.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

.nav-element {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #bbbbbe;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.nav-element:hover {
    color: #02f1c9;
}

.nav-element:last-child {
    background-color: #5121e5;
    color: white;
}

/* ---Intro part--- */

#intro-div {
    margin-top: 2.5rem;
    height: 100%;
    /* border: 1px solid green; */
}

#my-pic {
    width: 40rem;
    filter: brightness(80%);
    position: relative;
    top: 0.4rem;
    left: 6rem;
    -webkit-animation: slide-in-right 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-in-right 1s; /* Firefox < 16 */
     -ms-animation: slide-in-right 1s; /* Internet Explorer */
      -o-animation: slide-in-right 1s; /* Opera < 12.1 */
         animation: slide-in-right 1s;
}

#my-pic > img {
    width: 100%;
    aspect-ratio: 1/1;

    /* margin-bottom: 5rem; */
    
}

#intro-text {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    z-index: 1;
    padding-top: 1rem;
    left: 37.5rem;
    /* padding-bottom: 10rem; */
    -webkit-animation: slide-in-left 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-in-left 1s; /* Firefox < 16 */
     -ms-animation: slide-in-left 1s; /* Internet Explorer */
      -o-animation: slide-in-left 1s; /* Opera < 12.1 */
         animation: slide-in-left 1s;

}

#intro-text > h1 {
    margin: 0;
    /* line-height: 10rem; */
    /* padding: 0 */
}

#intro-text > p {
    font-weight: 400;
    font-size: 1.1rem;

} 

#intro-text-engineer {
    color: #8491a0;
}

/* ---Qualifications--- */

.qualifications-tab-div {
    position: relative;
    /* bottom: 5rem; */
    height: 55rem;
    background-color: #000000;
}

#qualifications-paragraph {
    color: #8491a0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    top: 7rem;
    left: 4rem;

}

.qualifications-tab-div > h2 {
    color: white;
    font-size: 3.4rem;
    margin: 0;
    width: 85%;
    position: relative;
    top: 10rem;
    left: 4rem;

}

#qualifications-div {
    width: 95%;
    position: relative;
    top: 11.5rem;
    left: 4rem;
    display: flex;
    /* justify-content: space-between; */
    /* align-items:  start; */
    /* background-color: #02f1c9; */
    
}

.qualifications-block {
    padding-right: 1rem;
    /* animation: slide-in-right 1s; */

}

.qualifications-count {
    margin: 0;
    font-size: 7.3rem;
    color: #8491a0;
    font-weight: 400;

}

.qualifications-block > h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 0   ;
    /* line-height: 0; */
}

#issuer-1 {
    color: #293a7e;
}

#issuer-2 {
    color: #890023;
}

.qualifications-block > p {
    color: white;
}

.qualifications-block > a {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 0.15rem;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
}


/* ---Skillset--- */

.skillset-tab-div {
    height: 50rem;
    background-color: #fff3e4;
    display: flex;
    justify-content: space-around;
}

.skillset-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillset-image-container > img {
    width: 70%;
    height: 60%
}

.skillset-skill-container {
    /* display: inline; */
    width: 100%;
    height: 100%;
}

#skillset-paragraph {
    display: inline-block;
    color: #181823;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    top: 2rem;
    left: 4rem;
}

#skillset-header {
    position: relative;
    width: 90%;
    top: 2rem;
    left: 4rem;
    color: #181823;
    font-size: 3.4rem;
    /* display: inline-block; */
}

#logo-container {
    height: 60%;
    width: 95%;
    position: relative;
    top: 3rem;
    left: 2rem;
}

#logo-container > img {
    width: 18%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0.5rem;
    /* mix-blend-mode: color-burn; */
}

/* ---Contact--- */

.contact-tab-div {
    height: 50rem;
    background-color: #000000;
    position: relative;
    /* bottom: 2rem; */

}

#contact-paragraph {
    color: #8491a0;
    display: inline-block;
    font-weight: 700;
    position: relative;
    top: 4rem;
    left: 4rem;
}

.contact-tab-div > h2 {
    color: white;
    position: relative;
    top: 8rem;
    left: 8rem;
    width: 70%;
    font-weight: 700;
    font-size: 3.5rem;
}

.contact-tab-div > p {
    color: #8491a0;
    position: relative;
    width: 70%;
    font-size: 1.125rem;
    top: 7rem;
    left: 8rem;
}

.form-div {
    position: relative;
    bottom: 3rem;
    left: 43rem;
    width: 40%;
}

.input-box {
    color: white;
    background-color: #181823;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    padding: 0.6235rem;
    width: 32.6875rem;
    height: 2.25rem;
    border: none;
}

.input-box:focus {
    outline: none;
}

.form-div > form > label {
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

#message {
    height: 6rem;
}

#submit-button {
    background-color: #5221e6;
    width: 32.6875rem;
    height: 4.25rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    letter-spacing: 0.1rem;
} 

#submit-button {
    cursor: pointer;
}