/* ---Setup--- */

html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(110deg, #000000 60%, #181824 40%);
    height: 100%;
}

/* ---Animations--- */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slide-in-right {
    from { transform: translateX(-100%);}
    to { transform: translateX(0%);}
}

@keyframes slide-in-left {
    from { transform: translateX(100%);}
    to { transform: translateX(0%);}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes slide-in-right {
    from { transform: translateX(-100%);}
    to { transform: translateX(0%);}
}

@-moz-keyframes slide-in-left {
    from { transform: translateX(100%);}
    to { transform: translateX(0%);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes slide-in-right {
    from { transform: translateX(-100%);}
    to { transform: translateX(0%);}
}

@-webkit-keyframes slide-in-left {
    from { transform: translateX(100%);}
    to { transform: translateX(0%);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes slide-in-right {
    from { transform: translateX(-100%);}
    to { transform: translateX(0%);}
}

@-ms-keyframes slide-in-left {
    from { transform: translateX(100%);}
    to { transform: translateX(0%);}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes slide-in-right {
    from { transform: translateX(-100%);}
    to { transform: translateX(0%);}
}

@-o-keyframes slide-in-left {
    from { transform: translateX(100%);}
    to { transform: translateX(0%);}
}

/* ---Double header--- */

#double-header {
    background: linear-gradient(to right, #5220e4, #8b21e5); /** #5220e4 & 8b21e5 **/
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer 
}

#double-header-content {
    color: white;
    font-family: 'Sen', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

/* ---Main header--- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    /* border: 1px solid red; */
}

#logo {
    color: white;
    font-family: 'Roboto Mono', monospace;
    /* text-decoration: underline; */
    padding-left: 1rem;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

/* ---Navigation--- */

#nav-list {
    width: 50%;
    height: 100%;
    margin-right: 4.5rem;
    list-style: none;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

.nav-element {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #bbbbbe;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.nav-element:hover {
    color: #02f1c9;
}

.nav-element:last-child {
    background-color: #5121e5;
    color: white;
}

/* ---Intro part--- */

#intro-div {
    margin-top: 2.5rem;
    /* border: 1px solid green; */
    overflow: hidden;
}

#my-pic {
    /* width: 30rem; */
    filter: brightness(40%);
    -webkit-animation: slide-in-right 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-in-right 1s; /* Firefox < 16 */
     -ms-animation: slide-in-right 1s; /* Internet Explorer */
      -o-animation: slide-in-right 1s; /* Opera < 12.1 */
         animation: slide-in-right 1s;
}

#my-pic > img {
    width: 41rem;
    height: 32rem;
    
}

#intro-text {
    position: absolute;
    font-family: 'Sen', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    z-index: 1;
    padding-top: 1rem;
    left: 37.5rem;
    /* padding-bottom: 10rem; */
    /* border: 1px solid red; */
    -webkit-animation: slide-in-left 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-in-left 1s; /* Firefox < 16 */
     -ms-animation: slide-in-left 1s; /* Internet Explorer */
      -o-animation: slide-in-left 1s; /* Opera < 12.1 */
         animation: slide-in-left 1s;

}

#intro-text > h1 {
    margin: 0;
    /* line-height: 10rem; */
    /* padding: 0 */
}

#intro-text > p {
    font-weight: 400;
    font-size: 1.1rem;

} 

#intro-text-engineer {
    color: #8491a0;
}

/* ---Qualifications--- */

#qualifications-tab-div {
    height: 50rem;
    background-color: #000000;
}

#qualifications-paragraph {
    color: #8491a0;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    top: 16rem;
    left: 4rem
}

#qualifications-tab-div > h2 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 3.4rem;
    margin: 0;
    position: relative;
    top: 16rem;
    left: 4rem;
    /* border: 1px solid red; */

}

#qualifications-div {
    width: 90%;
    position: relative;
    top: 17.5rem;
    left: 4rem;
    display: flex;
    justify-content: space-between;
    align-items:  start;
    /* background-color: #02f1c9; */
    /* border: 1px solid red; */

}

.qualifications-block {
    /* animation: slide-in-right 1s; */
    /* border: 1px solid red; */

}

.qualifications-count {
    margin: 0;
    font-size: 7.3rem;
    font-family: 'Sen', sans-serif;
    color: #8491a0;
    font-weight: 400;
    /* border: 1px solid red; */

}

.qualifications-block > h4 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 0   ;
    /* line-height: 0; */
    /* border: 1px solid red; */
}

#issuer-1 {
    color: #293a7e;
}

#issuer-2 {
    color: #890023;
}